.heading {
  padding: 20px 0px;
}
.heading h1 {
  font-size: 66px;
  font-weight: 100;
  padding-bottom: 20px;
  position: relative;
}
.heading h1:after {
  background-color: #fe5000;
  bottom: 0px;
  content: "";
  height: 5px;
  left: 0px;
  position: absolute;
  width: 100px;
}
